<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="p-5">
        <%= render template: 'users/registrations/new' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-5">
        <%= render template: 'users/sessions/new' %>
      </div>
    </div>
  </div>
</div>
