<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-7">
      <div class="card rounded-0">
        <div class="card-body">
          <h4 class="text-muted font-weight-bold">About Company</h4>
          <h6 class="font-14 lh-18"><%= @company.about %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
