<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless @user.company.present? %>
        <div class="mt-5 mb-5">
          <div class="card rounded-0">
            <div class="card-body">
              <p class="lead">Hi! <span class="badge badge-success"><%= @user.email%></span> you have not created your company yet just because your profile is not completed yet. Your dashboard will display stats once you successfully create your company. Please complete your profile first.</p>
              <%= link_to "Complete your profile", user_profile_edit_path, class: "btn btn-primary btn-lg rounded-0 btn-custom" %>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
