<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="font-weight-bold text-muted mt-5">Edit Your Company Here</h3>
      <div class="card rounded-0 shadow mt-3">
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
