<h1>Welcome to HRAlert</h1>
<h3>Thank you <%= @contact.name %> for contacting <%= @contact.company.name %>.</h3>
<p>One of the company representative will communicate you soon.</p>

<h3>Thanks</h3>

<p>Admin | HRAlert</p>

<small>This is a system generated email. Please do not reply over it.</small>
